@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --c1: #90a877; /*header*/
  --c2: #7a925e; /*header input*/
  --c3: #f3f7f1; /*header menu*/

  --c4: #a0b08c; /*icon main*/
  --c5: #ffffff; /*main bg color*/
  --c6: #bdbdbd; /*main title*/
  --c7: #fdfdfd; /*body background color*/
}
.max-width {
  max-width: 1400px;
  padding: 0 80px;
  margin: auto;
}

/* header style*/
.navbar {
  /*position: fixed;*/
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 03 ease;
  z-index: 999;
  background-color: var(--c1);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--c3);
  font-size: 30px;
  font-weight: 400;
}
.navbar .logo a span {
  color: var(--c3);
}
.navbar.sticky .logo a span {
  color: var(--c3);
  transition: all 0.3s ease;
}
.navbar .search {
  height: 50px;
  width: calc(50% - 30px);
  position: relative;
}
.navbar .search input {
  height: 100%;
  width: 100%;
  border: 1px solid var(--c2);
  background-color: var(--c2);
  border-radius: 6px;
  outline: none;
  padding: 0 20px 0 32px;
  font-size: 16px;
  color: var(--c7);
}
.navbar .search input::placeholder {
  color: var(--c7);
  opacity: 0.4;
}
.navbar .search i {
  position: absolute;
  left: 12px;
  top: 16px;
  color: var(--c7);
  opacity: 0.4;
  
}
.navbar .menu {
  display: flex;
  align-items: center;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--c3);
  overflow: hidden;
}
.navbar .menu li .image img {
  width: 100%;
  object-fit: cover;
}

.navbar .menu li a {
  display: block;
  color: var(--c3);
  font-size: 25px;
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: var(--c2);
}
.navbar.sticky .menu li a:hover {
  color: var(--c2);
}
.menu-btn {
  color: var(--c3);
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/*****main styling*********/
main{
  background-color: var(--c7);
  padding: 30px 0;
  
}
main .max-width{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  

}
main section{
  padding: 30px 20px;
  border-radius: 10px;
  background-color:var(--c5);
  border: 1px solid var(--c7);
  box-shadow: 0px 0px 9px 0px rgba(203, 207, 205, 0.71);

}
main .left, main .right{
  width: calc(30% - 15px);
}
main .middle{
  width: calc(40% - 15px);
  
}
main section .title{
  color: var(--c6);
  font-size: 2em;
  font-family: "Ubuntu", sans-serif;
}
main .left .menu li {
  list-style: none;
  
  
}





/* responsive media query starts*/
@media (max-width: 1300px) {
 
}
@media (max-width: 1104px) {
 
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  
  .max-width {
    max-width: 800px;
  }
  
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
 
}
@media (max-width: 500px) {
  
}